
@{
    ViewBag.Title = "_ViewAbout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_ViewAbout</title>
</head>
<body>
    <div>
        <h1>This is About Page </h1>
        Hello Class

    </div>
</body>

</html>
