
@{
    ViewBag.Title = "_ViewHome";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>_ViewHome</title>
    </head>
    <body>
        <div>
            <h1>This is Home Page </h1>
            Hello Class

        </div>
    </body>

</html>
