
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Custom Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Custom Home Page</title>
</head>
<body>
    <div>
        <h1>This is Custom Home Page</h1>
        Hello Class

    </div>
</body>

</html>

